#container {
  position: relative;
  width: 320px;
  height: 240px;
}

#sample_jpg {
  display: block;
  width: 100%;
  height: auto;
}

#face_svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: .5s ease;
}

.container:hover .overlay {
  opacity: 1;
}
